<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ORESHNIK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ORESHNIK.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ORESHNIK.Properties.Settings>
            <setting name="MeasureHotkey" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="ClearHotkey" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="CalibrationHotkey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="CalibrationPx" serializeAs="String">
                <value>0</value>
            </setting>
        </ORESHNIK.Properties.Settings>
        <ORESHNIK.Properties.Settings1>
            <setting name="PointHotkey" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="ClearHotkey" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="CalibrationPx" serializeAs="String">
                <value>0</value>
            </setting>
        </ORESHNIK.Properties.Settings1>
    </userSettings>
</configuration>